<form action="/signinuser" method="POST" id="signin-form">
  <label for="user_id" id="user_id_label">
    User ID
    <input type="text" id="user_id" name="user_id" />
  </label>
  <label for="password" id="password_label">
    Password
    <input type="password" id="password" name="password" />
  </label>
  <button type="submit" id="signin_button" name="signin_button">
    Sign In
  </button>
</form>
<a href="/signupuser" class="link">Click here to signup!</a>