<h1 id="signinHeader" class="header">Sign In</h1>
<form action="/signinuser" method="POST" id="signin-form">

  <div>
    <label for="user_id" id="user_id_label" class="input_label">
      User ID
      <input type="text" id="user_id" name="user_id" value="{{data.user_id}}" >
    </label>
    {{#if hasErrors}}
      <label
        for="user_id"
        class="error"
        id="user_id_error"
      >{{errors.user_id}}</label>
    {{/if}}
  </div>

  <div>
    <label for="password" id="password_label" class="input_label">
      Password
      <input type="password" id="password" name="password" >
    </label>
    {{#if hasErrors}}
      <label
        for="password"
        class="error"
        id="password_error"
      >{{errors.password}}</label>
    {{/if}}
  </div>

  <div id="submitDiv" class="centerDiv">
    <button type="submit" id="submit_button" name="submit_button">
      Sign In
    </button>
  </div>

  {{#if hasErrors}}
    <div class="centerDiv">
      <label
        for="submit_button"
        class="error"
        id="submit_button_label"
      >{{errors.other}}</label>
    </div>
  {{/if}}

  <div class="centerDiv">
    <ul id="client_signin_error"></ul>
  </div>

</form>

<div class="singleLink">
  <a href="/signupuser" class="link singleLink">Click here to signup!</a>
</div>

<script src="/public/js/form_validate.js"></script>