.error {
  color: #cc0000;
  font-style: italic;
}

.link {
  color: #555555;
  padding-left: 2%;
  padding-right: 2%;
}

button {
  background-color: #eeeeee;
  color: black;
  border: 2px solid #555555;
  margin-top: 1%;
}

button:hover {
  background-color: #555555;
  color: white;
  margin-top: 1%;
}

body {
  margin: auto;
  width: 25%;
}

input {
  width: 100%;
  background-color: #eeeeee;
}

select {
  background-color: #eeeeee;
}

div.color {
  width: 50%;
  float: left;
}

label {
  font-weight: bold;
}

#quote {
  font-weight: bold;
}

#signoutLink {
  float: right;
}

.header {
  text-align: center;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}
